/* _FOOTER.SCSS */
@use "./variables" as *;


@mixin footer-desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        footer {
            width: 100%;
            background-color: $colorhdr01;
            
            color: $fontcolor02;
            padding: 0;
            
            margin: auto;

        }

        .footer-spine {
            width: $spine-desktop;
            margin: auto;

        }

        .footer-wrap {
            width: $spine-desktop;

            padding: 20px 32px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

        }

        .footer-div__body {
            padding: 16px;
            display: flex;
            
        }

        .footer-div__copy {
            padding: 0 80px 0 0;
            vertical-align: top;

        }

        span {
            padding: 0;
            display: flex;
            align-items: center;
            
        }

        .filler {
            width: 500px;
        }

        a {
            color: $fontcolor02;
            text-decoration: none;
        }

        img {
            border: 0;
        }

        img.logo {
            width: 120px;
            height: 20px;
        }

        img.social {
            width: 24px;
            height: 24px;
        }

        ul.social {
            display: flex;
            padding-left: 0;
        }

        li.social {
            list-style: none;
            padding-left: 18px;
        }

        ul.info {
            padding-left: 0;
            display: inline-block;
            font-weight: normal;
        }

        li.info {
            list-style: none;
            padding-left: 0;
            padding-bottom: 18px;
        }

        li.info:nth-of-type(1) {
            font-weight: bold;
        }

    }
}

@mixin footer-tablet {
    @media screen and (max-width: $desktop-breakpoint) and
    (min-width: $tablet-breakpoint) {
        footer {
            width: 100%;
            background-color: $colorhdr01;
            
            color: $fontcolor02;
            padding: 0;
            
            margin: auto;

        }

        .footer-spine {
            width: $spine-tablet;
            margin: auto;

        }

        .footer-wrap {
            width: $spine-tablet;

            padding: 20px 16px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

        }

        .footer-div__body {
            padding: 12px;
            display: flex;
            
        }

        .footer-div__copy {
            padding: 0 40px 0 0;
            vertical-align: top;

        }

        span {
            padding: 0;
            display: flex;
            align-items: center;
            
        }

        .filler {
            width: 200px;
        }

        a {
            color: $fontcolor02;
            text-decoration: none;
        }

        img {
            border: 0;
        }

        img.logo {
            width: 120px;
            height: 20px;
        }

        img.social {
            width: 24px;
            height: 24px;
        }

        ul.social {
            display: flex;
            padding-left: 0;
        }

        li.social {
            list-style: none;
            padding-left: 18px;
        }

        ul.info {
            padding-left: 0;
            display: inline-block;
            font-weight: normal;
        }

        li.info {
            list-style: none;
            padding-left: 0;
            padding-bottom: 18px;
        }

        li.info:nth-of-type(1) {
            font-weight: bold;
        }

    }
}


@mixin footer-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        footer {
            width: 100%;
            background-color: $colorhdr01;
            
            color: $fontcolor02;
            padding: 0;
            
            margin: auto;

        }

        .footer-spine {
            width: $spine-mobile;
            margin: auto;

        }

        .footer-wrap {
            width: $spine-mobile;

            padding: 20px 8px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

        }

        .footer-div__body {
            padding: 12px;
            display: flex;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
        }

        .footer-div__copy {
            padding: 0 40px 0 0;
            //vertical-align: top;

        }

        .footer-div__body:nth-of-type(1) { order: 1;}
        .footer-div__body:nth-of-type(3) { order: 2;}
        .footer-div__body:nth-of-type(2) { order: 3;}
        .footer-div__body:nth-of-type(4) { order: 4;}

        span {
            padding: 0;
            display: flex;
            align-items: center;
        }

        .filler {
            width: 200px;
        }

        a {
            color: $fontcolor02;
            text-decoration: none;
        }

        img {
            border: 0;
        }

        img.logo {
            width: 120px;
            height: 20px;
        }

        img.social {
            width: 32px;
            height: 32px;
        }

        ul.social {
            display: flex;
            padding-left: 0;
        }

        li.social {
            list-style: none;
            padding-right: 18px;
        }

        ul.info {
            padding-left: 0;
            display: inline-block;
            font-weight: normal;
        }

        li.info {
            list-style: none;
            padding-left: 0;
            padding-bottom: 18px;
        }

        li.info:nth-of-type(1) {
            font-weight: bold;
        }

    }
}