/* _GALLERY.SCSS */
@use "./variables" as *;


@mixin gallery-desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        .div-gallery {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            background-color: $bgcolor03;

            &__content {
                box-sizing: border-box;
                width: 100%;
                padding: 32px 64px;
                clear: both;
            }

            &__content2 {
                box-sizing: border-box;
                width: 100%;
                padding: 32px 64px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &__thumbnail {
                width: 30%;
                padding: 10px;
            }
        }
        
    }
}

@mixin gallery-tablet {
    @media screen and (max-width: $desktop-breakpoint) and
    (min-width: $tablet-breakpoint) {
        .div-gallery {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            background-color: $bgcolor03;

            &__content {
                box-sizing: border-box;
                width: 100%;
                margin: 24px 36px;
                clear: both;
            }

            &__content2 {
                box-sizing: border-box;
                width: 100%;
                padding: 32px 64px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &__thumbnail {
                width: 30%;
                padding: 10px;
            }
        }
    }
}


@mixin gallery-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        .div-gallery {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            background-color: $bgcolor03;

            &__content {
                box-sizing: border-box;
                width: 100%;
                margin: 8px 16px;
                clear: both;
            }

            &__content2 {
                box-sizing: border-box;
                width: 90%;
                margin: 8px 16px;
                display: flex;
                flex-direction: column;
                //flex-wrap: wrap;
                justify-content: space-between;
            }

            &__thumbnail {
                width: 100%;
                padding: 10px;
            }
        }
    }
}