/* _HERO.SCSS */
@use "./variables" as *;


@mixin hero-desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        .hero {
            width: 100%;
            height: 620px;
            max-height: 620px;

            display: flex;
            
            background-color: $bgcolor01;
            background-size: cover;
            background-position: center center; 
            background-repeat: no-repeat; 

            text-shadow: 5px 5px 10px $bgcolor02;
            color: $fontcolor02;
        }

        .hero_bio {
            background-image: url("../../assets/images/hero-bio.jpg");
        }

        .hero_show {
            background-image: url("../../assets/images/hero-shows.jpg");
        }
        
        .hero-div__content {
            width: 50%;
            margin: auto;
            padding: 64px;
        }

        .hero-div__content2 {
            width: 50%;
            margin: auto;
            padding: 64px;
        }
    }
}


@mixin hero-tablet {
    @media screen and (max-width: $desktop-breakpoint) and
    (min-width: $tablet-breakpoint) {
        .hero {
            width: 100%;
            height: 540px;

            display: flex;
            flex-wrap: wrap;
            
            background-image: url("../assets/images/hero-bio.jpg");
            background-color: $bgcolor01;
            background-size: cover;
            background-position: center center; 
            background-repeat: no-repeat; 

            text-shadow: 5px 5px 10px $bgcolor02;
            color: $fontcolor02;
        }
        
        .hero_bio {
            background-image: url("../../assets/images/hero-bio.jpg");
        }

        .hero_show {
            background-image: url("../../assets/images/hero-shows.jpg");
        }
        
        .hero-div__content {
            width: 100%;
            margin: auto;
            padding: 30px;
        }

        .hero-div__content2 {
            width: 100%;
            margin: auto;
            padding: 30px;
        }
        
    }
}



@mixin hero-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        .hero {
            width: 100%;
            height: 280px;

            display: flex;
            flex-wrap: wrap;
            
            background-image: url("../assets/images/hero-bio.jpg");
            background-color: $bgcolor01;
            background-size: cover;
            background-position: center center; 
            background-repeat: no-repeat; 

            text-shadow: 5px 5px 10px $bgcolor02;
            color: $fontcolor02;
        }

        .hero_bio {
            background-image: url("../../assets/images/hero-bio.jpg");
        }

        .hero_show {
            background-image: url("../../assets/images/hero-shows.jpg");
        }
        
        
        .hero-div__content {
            width: 100%;
            margin: auto;
            padding: 16px;
        }

        .hero-div__content2 {
            width: 100%;
            margin: auto;
            padding: 16px;
        }
        
    }
}

