/* _VARIABLES.SCSS */

@use "sass:map";


//Colors
$bandcolors : (
  "bandpri01" : #323232,        //bandsite primary1 black
  "bandpri02" : #afafaf,        //bandsite primary2 silver
  "bandpri03" : #ffffff,        //bandsite primary3 white
  "bandsec01" : #000000,        //bandsite secondary1 CTA hover state
  "bandsec02" : #e1e1e1,        //bandsite secondary2 Divider line. Form field outline.
  "bandsec03" : #fafafa,        //bandsite secondary3 Alternative light background color
  "bandwrn01" : #f6ff00,        //bandsite notice yellow
  "banderr01" : #680000,        //bandsite error red
  "bandetc01" : #d4d4d4,        //bandsite etc1
  "bandetc02" : #ffe8f6,        //bandsite etc2
  "bandetc03" : #fed8ec,        //bandsite etc3
);


//font colors
$fontcolor01 :  map.get($bandcolors, "bandpri01");
$fontcolor02 :  map.get($bandcolors, "bandpri03");
$fontcolor03 :  map.get($bandcolors, "banderr01");
$fontcolor04 :  map.get($bandcolors, "bandwrn01");
$fontcolor05 :  map.get($bandcolors, "bandetc01");


//background colors
$bgcolor01 : map.get($bandcolors, "bandpri03");
$bgcolor02 : map.get($bandcolors, "bandsec01");
$bgcolor03 : map.get($bandcolors, "bandsec03");
$bgcolor04 : map.get($bandcolors, "bandpri01");
$bgcolor05 : map.get($bandcolors, "bandetc02");
$bgcolor06 : map.get($bandcolors, "bandetc03");


$colorpri01 : #323232;      //bandsite blk
$colorpri02 : #afafaf;      //silver
$colorpri03 : #ffffff;      //white

$colorsec01 : #000000;      //bandsite blk: CTA hover state.
$colorsec02 : #e1e1e1;      //Mercury: Divider line. Form field outline.
$colorsec03 : #fafafa;      //Alabaster: Alternative light background color

$colorhdr01 : #323232;


//header colors
$colorhdr01 : map.get($bandcolors, "bandpri01");


//line colors
$linecolor01 : map.get($bandcolors, "bandpri03");
$linecolor02 : map.get($bandcolors, "bandsec02");


//breakpoints
$desktop-maxpoint: 1600px;      //max desktop
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 767px;      //max


//layout fix
$spine-desktop : 1500px;
$spine-tablet : 800px;
$spine-mobile : 380px;

$bind-desktop : 1480px;
$bind-tablet : 760px;
$bind-mobile : 360px;





