/* _VARIABLES.SCSS */
/*
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    //@content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    //@content;

  }
}
*/
/*
@media (min-width: $desktop-breakpoint)  {
    body {
        background-color: aqua;
    }
}


@media
    (max-width: $desktop-breakpoint) and
    (min-width: $tablet-breakpoint) {
        body {
            background-color: red;
        }
}
*/
/* _LAYOUT.SCSS */ /* _HEADER.SCSS */ /* _HERO.SCSS */ /* _WRITEUP.SCSS */ /* _GALLERY.SCSS */ /* _CONVO.SCSS */ /* _SHOWS.SCSS */ /* _FOOTER.SCSS */ /* FONTS.SCSS */
@font-face {
  font-family: "AvenirReg";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: bolder;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Another Typewriter";
  src: url("../../assets/fonts/atwriter.ttf");
  font-weight: normal;
}
/* GLOBAL.SCSS */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "FontAvenir", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .spine {
    width: 1500px;
    margin: auto;
    background-color: #fafafa;
  }
  .binder {
    width: 1480px;
    margin: auto;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .spine {
    width: 800px;
    margin: auto;
    background-color: #fafafa;
  }
  .binder {
    width: 760px;
    margin: auto;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .spine {
    width: 380px;
    margin: auto;
    background-color: #fafafa;
  }
  .binder {
    width: 360px;
    margin: auto;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 0;
    /*
    position: fixed;
    top: 0;
    z-index: 99;        //on top of it all
    */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-wrap {
    width: 1480px;
    height: 90px;
    padding: 0 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .header-logo {
    display: flex;
    padding: 30px;
  }
  header .header-logo img {
    height: 20px;
    width: 120px;
  }
  header .header-nav {
    display: flex;
    align-self: flex-end;
    margin: 0;
    font-size: 12px;
  }
  header .header-nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  header .header-nav li {
    list-style: none;
    padding-bottom: 36px;
    padding-left: 0;
  }
  header .header-nav li:nth-of-type(odd) {
    margin-right: 32px;
  }
  header .header-nav li:hover {
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav #here {
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav a {
    color: #ffffff;
    text-decoration: none;
  }
  header .header-nav li.isInactive {
    color: #e1e1e1;
    border-bottom: 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    /*
    position: fixed;
    top: 0;
    z-index: 99;        //on top of it all
    */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-wrap {
    width: 760px;
    height: 90px;
    padding: 0 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .header-logo {
    display: flex;
    padding: 30px;
  }
  header .header-logo img {
    height: 20px;
    width: 120px;
  }
  header .header-nav {
    display: flex;
    align-self: flex-end;
    margin: 0;
    font-size: 12px;
  }
  header .header-nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  header .header-nav li {
    list-style: none;
    padding-bottom: 36px;
    padding-left: 0;
  }
  header .header-nav li:nth-of-type(odd) {
    margin-right: 32px;
  }
  header .header-nav li:hover {
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav #here {
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav a {
    color: #ffffff;
    text-decoration: none;
  }
  header .header-nav li.isInactive {
    color: #e1e1e1;
    border-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 0;
    /*
    position: fixed;
    top: 0;
    z-index: 99;        //on top of it all
    */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-wrap {
    width: 360px;
    height: 90px;
    display: inline-block;
    text-align: center;
  }
  header .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  header .header-logo img {
    height: 30px;
    width: 180px;
  }
  header .header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
    margin: 0;
    font-size: 14px;
  }
  header .header-nav ul {
    width: 100%;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  header .header-nav li {
    list-style: none;
    width: 50%;
    padding-bottom: 16px;
  }
  header .header-nav li:nth-of-type(odd) {
    margin-right: 32px;
  }
  header .header-nav li:hover {
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav #here {
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
  }
  header .header-nav a {
    color: #ffffff;
    text-decoration: none;
  }
  header .header-nav li.isInactive {
    color: #e1e1e1;
    border-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    height: 620px;
    max-height: 620px;
    display: flex;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 5px 5px 10px #000000;
    color: #ffffff;
  }
  .hero_bio {
    background-image: url("../../assets/images/hero-bio.jpg");
  }
  .hero_show {
    background-image: url("../../assets/images/hero-shows.jpg");
  }
  .hero-div__body {
    width: 50%;
    margin: auto;
    padding: 64px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assets/images/hero-bio.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 5px 5px 10px #000000;
    color: #ffffff;
  }
  .hero_bio {
    background-image: url("../../assets/images/hero-bio.jpg");
  }
  .hero_show {
    background-image: url("../../assets/images/hero-shows.jpg");
  }
  .hero-div__body {
    width: 100%;
    margin: auto;
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    width: 100%;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assets/images/hero-bio.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 5px 5px 10px #000000;
    color: #ffffff;
  }
  .hero_bio {
    background-image: url("../../assets/images/hero-bio.jpg");
  }
  .hero_show {
    background-image: url("../../assets/images/hero-shows.jpg");
  }
  .hero-div__body {
    width: 100%;
    margin: auto;
    padding: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .writeup {
    width: 100%;
    margin: auto;
  }
  .writeup-div__title {
    width: 100%;
    padding: 40px 64px 0 64px;
    margin: auto;
  }
  .writeup-div__body {
    width: 80%;
    padding: 40px 0 0 0;
    margin: auto;
  }
  .writeup-div__copy {
    width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
  }
  .writeup-div__copy p {
    width: 48%;
  }
  .writeup .writeup-img__box {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px solid #ffffff;
    box-shadow: 2px 10px 10px 5px #afafaf;
    margin-bottom: 20px;
    font-family: "Another Typewriter";
    font-size: 12px;
    text-align: right;
  }
  .writeup img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .writeup h3, .writeup h4 {
    font-family: "Another Typewriter";
    line-height: 180%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .writeup {
    width: 100%;
    margin: auto;
  }
  .writeup-div__title {
    width: 100%;
    padding: 20px 32px 0 32px;
    margin: auto;
  }
  .writeup-div__body {
    width: 80%;
    padding: 20px 0 0 0;
    margin: auto;
  }
  .writeup-div__copy {
    width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
  }
  .writeup-div__copy p {
    width: 48%;
  }
  .writeup .writeup-img__box {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #ffffff;
    box-shadow: 1px 8px 8px 5px #afafaf;
    margin-bottom: 16px;
    font-family: "Another Typewriter";
    font-size: 11px;
    text-align: right;
  }
  .writeup img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .writeup h3, .writeup h4 {
    font-family: "Another Typewriter";
    line-height: 180%;
  }
}
@media screen and (max-width: 767px) {
  .writeup {
    width: 100%;
    margin: auto;
  }
  .writeup-div__title {
    width: 100%;
    padding: 12px 16px 0 16px;
    margin: auto;
  }
  .writeup-div__body {
    width: 100%;
    padding: 12px 0 0 0;
    margin: auto;
  }
  .writeup-div__copy {
    width: 90%;
    padding: 12px 0 0 0;
    margin: auto;
    display: block;
    justify-content: space-between;
  }
  .writeup-div__copy p {
    width: 90%;
  }
  .writeup .writeup-img__box {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ffffff;
    box-shadow: 1px 6px 6px 3px #afafaf;
    margin-bottom: 10px;
    font-family: "Another Typewriter";
    font-size: 10.5px;
    text-align: right;
  }
  .writeup img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .writeup h3, .writeup h4 {
    font-family: "Another Typewriter";
    line-height: 180%;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    padding-bottom: 64px;
  }
  .gallery-div__title {
    width: 100%;
    padding: 40px 64px 0 64px;
    margin: auto;
  }
  .gallery-div__body {
    width: 100%;
    padding: 40px 64px 0 64px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-div__thumbnail {
    width: 30%;
    padding: 10px;
    box-shadow: 2px 10px 10px 2px #afafaf;
    margin-bottom: 20px;
  }
  .gallery img {
    width: 100%;
    filter: grayscale(80%);
    transition: filter 0.4s ease-in-out;
  }
  .gallery img:hover {
    filter: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .gallery {
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    padding-bottom: 32px;
  }
  .gallery-div__title {
    width: 100%;
    padding: 20px 32px 0 32px;
    margin: auto;
  }
  .gallery-div__body {
    width: 100%;
    padding: 20px 32px 0 32px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-div__thumbnail {
    width: 30%;
    padding: 6px;
    box-shadow: 2px 8px 8px 2px #afafaf;
    margin-bottom: 16px;
  }
  .gallery img {
    width: 100%;
    filter: grayscale(80%);
    transition: filter 0.4s ease-in-out;
  }
  .gallery img:hover {
    filter: none;
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    padding-bottom: 24px;
  }
  .gallery-div__title {
    width: 100%;
    padding: 12px 16px 0 16px;
    margin: auto;
  }
  .gallery-div__body {
    width: 100%;
    padding: 12px 16px 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-div__thumbnail {
    width: 100%;
    padding: 6px;
    box-shadow: 2px 8px 8px 2px #afafaf;
    margin-bottom: 16px;
  }
  .gallery img {
    width: 100%;
    filter: grayscale(80%);
    transition: filter 0.4s ease-in-out;
  }
  .gallery img:hover {
    filter: none;
  }
}
@media screen and (min-width: 1024px) {
  .convo {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 40px;
  }
  .convo-div__title {
    width: 100%;
    padding: 40px 64px 0 64px;
    margin: auto;
  }
  .convo-div__body {
    width: 80%;
    margin: auto;
  }
  .convo-div__row--one {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .convo-div__form-filler {
    width: 20%;
    min-width: 60px;
  }
  .convo-div__img-avatar {
    width: 20%;
    min-width: 60px;
    text-align: center;
  }
  .convo-div__form-button {
    width: 100%;
    text-align: right;
  }
  .convo-div__error {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  img.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #afafaf;
  }
  img.likes {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  label {
    width: 80%;
    min-width: 500px;
    padding: 0;
    font-family: "AvenirBold";
    font-size: 12px;
    line-height: 20px;
    color: #afafaf;
  }
  input[type=text] {
    width: 80%;
    min-width: 500px;
    height: 46px;
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
  }
  input[type=text].active {
    border: 1px solid #323232;
  }
  textarea {
    width: 80%;
    min-width: 500px;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
    resize: none;
  }
  textarea.active {
    border: 1px solid #323232;
  }
  button {
    width: 20%;
    height: 46px;
    border-radius: 4px;
    font-family: "AvenirDemi";
    font-size: 14px;
    color: #ffffff;
    background-color: #323232;
  }
  button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  ul.convo-ul__comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  ul.convo-ul__comment li:nth-of-type(1) {
    width: 70%;
    font-weight: bold;
    color: #323232;
  }
  ul.convo-ul__comment li:nth-of-type(2) {
    width: 30%;
    text-align: right;
    color: #afafaf;
    font-size: 14px;
    font-weight: bold;
  }
  ul.convo-ul__comment li:nth-of-type(3) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 14px;
    line-height: 160%;
  }
  ul.convo-ul__comment li:nth-of-type(4) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 12px;
    line-height: 160%;
    text-align: right;
  }
  hr {
    border: 1px solid #e1e1e1;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .convo {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 40px;
  }
  .convo-div__title {
    width: 100%;
    padding: 40px 32px 0 32px;
    margin: auto;
  }
  .convo-div__body {
    width: 80%;
    margin: auto;
  }
  .convo-div__row--one {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .convo-div__form-filler {
    width: 20%;
    min-width: 60px;
  }
  .convo-div__img-avatar {
    width: 20%;
    min-width: 60px;
    text-align: center;
  }
  .convo-div__form-button {
    width: 100%;
    text-align: right;
  }
  .convo-div__error {
    width: 100%;
    margin: auto;
  }
  img.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #afafaf;
  }
  img.likes {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  label {
    width: 80%;
    padding: 0;
    font-family: "AvenirBold";
    font-size: 12px;
    line-height: 20px;
    color: #afafaf;
  }
  input[type=text] {
    width: 80%;
    height: 46px;
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
  }
  input[type=text].active {
    border: 1px solid #323232;
  }
  textarea {
    width: 80%;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
    resize: none;
  }
  textarea.active {
    border: 1px solid #323232;
  }
  button {
    width: 20%;
    height: 46px;
    border-radius: 4px;
    font-family: "AvenirDemi";
    font-size: 14px;
    color: #ffffff;
    background-color: #323232;
  }
  button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  ul.convo-ul__comment {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  ul.convo-ul__comment li:nth-of-type(1) {
    width: 70%;
    font-weight: bold;
    color: #323232;
  }
  ul.convo-ul__comment li:nth-of-type(2) {
    width: 30%;
    text-align: right;
    color: #afafaf;
    font-size: 14px;
    font-weight: bold;
  }
  ul.convo-ul__comment li:nth-of-type(3) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 14px;
    line-height: 160%;
  }
  ul.convo-ul__comment li:nth-of-type(4) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 12px;
    line-height: 160%;
    text-align: right;
  }
  hr {
    border: 1px solid #e1e1e1;
    width: 70%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .convo {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 40px;
  }
  .convo-div__title {
    width: 100%;
    padding: 40px 32px 0 32px;
    margin: auto;
  }
  .convo-div__body {
    width: 80%;
    margin: auto;
  }
  .convo-div__row--one {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .convo-div__form-filler {
    width: 20%;
    min-width: 60px;
  }
  .convo-div__img-avatar {
    width: 20%;
    min-width: 60px;
    text-align: center;
  }
  .convo-div__form-button {
    width: 100%;
    text-align: right;
  }
  .convo-div__error {
    width: 100%;
    margin: auto;
  }
  img.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #afafaf;
  }
  img.likes {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  label {
    width: 80%;
    padding: 0;
    font-family: "AvenirBold";
    font-size: 12px;
    line-height: 20px;
    color: #afafaf;
  }
  input[type=text] {
    width: 80%;
    height: 46px;
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
  }
  input[type=text].active {
    border: 1px solid #323232;
  }
  textarea {
    width: 80%;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fafafa;
    font-family: "AvenirDemi";
    font-size: 16px;
    resize: none;
  }
  textarea.active {
    border: 1px solid #323232;
  }
  button {
    width: 20%;
    height: 46px;
    border-radius: 4px;
    font-family: "AvenirDemi";
    font-size: 14px;
    color: #ffffff;
    background-color: #323232;
  }
  button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  ul.convo-ul__comment {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  ul.convo-ul__comment li:nth-of-type(1) {
    width: 70%;
    font-weight: bold;
    color: #323232;
  }
  ul.convo-ul__comment li:nth-of-type(2) {
    width: 30%;
    text-align: right;
    color: #afafaf;
    font-size: 14px;
    font-weight: bold;
  }
  ul.convo-ul__comment li:nth-of-type(3) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 14px;
    line-height: 160%;
  }
  ul.convo-ul__comment li:nth-of-type(4) {
    width: 100%;
    padding-top: 10px;
    color: #323232;
    font-size: 12px;
    line-height: 160%;
    text-align: right;
  }
  hr {
    border: 1px solid #e1e1e1;
    width: 70%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .shows {
    width: 100%;
    margin: auto;
  }
  .shows-div__content {
    width: 100%;
    padding: 40px 64px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .shows-div__title {
    width: 20%;
    max-width: 200px;
  }
  .shows-div__listing {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .ticket {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ticket__label {
    width: 10%;
    max-width: 80px;
    color: #afafaf;
    text-transform: uppercase;
    height: 20px;
    visibility: hidden;
  }
  .ticket__labelhr {
    width: 30%;
    max-width: 250px;
    color: #afafaf;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
  }
  .ticket__index {
    font-weight: bold;
  }
  .ticket__desc {
    width: 20%;
    max-width: 180px;
    font-size: 14px;
    height: 24px;
    margin-bottom: 8px;
  }
  .ticket:nth-last-of-type(1) {
    order: -1;
  }
  button {
    width: 160px;
    height: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #323232;
    text-transform: uppercase;
  }
  button:hover {
    color: #f6ff00;
  }
  hr {
    width: 100%;
    max-width: 700px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .shows {
    width: 100%;
    margin: auto;
  }
  .shows-div__content {
    width: 100%;
    padding: 40px 32px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .shows-div__title {
    width: 100%;
  }
  .shows-div__listing {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .ticket {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ticket__label {
    color: #afafaf;
    text-transform: uppercase;
    height: 20px;
    visibility: hidden;
  }
  .ticket__labelhr {
    width: 30%;
    max-width: 160px;
    color: #afafaf;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
  }
  .ticket__index {
    font-weight: bold;
  }
  .ticket__desc {
    width: 25%;
    max-width: 120px;
    font-size: 14px;
    height: 24px;
    margin-bottom: 8px;
  }
  .ticket:nth-last-of-type(1) {
    order: -1;
  }
  button {
    width: 120px;
    height: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #323232;
    text-transform: uppercase;
    margin-left: 10px;
  }
  button:hover {
    color: #f6ff00;
  }
  hr {
    width: 100%;
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .shows {
    width: 100%;
    margin: auto;
  }
  .shows-div__content {
    width: 100%;
    padding: 40px 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .shows-div__title {
    width: 100%;
  }
  .shows-div__listing {
    width: 100%;
  }
  .ticket {
    display: flex;
    flex-direction: column;
  }
  .ticket__label {
    color: #afafaf;
    text-transform: uppercase;
    height: 20px;
  }
  .ticket__labelhr {
    width: 30%;
    max-width: 160px;
    color: #afafaf;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
  }
  .ticket__index {
    font-weight: bold;
  }
  .ticket__desc {
    font-size: 14px;
    height: 24px;
    margin-bottom: 8px;
  }
  .ticket:nth-last-of-type(1) {
    visibility: hidden;
    height: 0;
  }
  button {
    margin: auto;
    width: 80%;
    height: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #323232;
    text-transform: uppercase;
  }
  button:hover {
    color: #f6ff00;
  }
  hr {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 0;
    margin: auto;
  }
  .footer-spine {
    width: 1500px;
    margin: auto;
  }
  .footer-wrap {
    width: 1500px;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-div__body {
    padding: 16px;
    display: flex;
  }
  .footer-div__copy {
    padding: 0 80px 0 0;
    vertical-align: top;
  }
  span {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .filler {
    width: 500px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  img {
    border: 0;
  }
  img.logo {
    width: 120px;
    height: 20px;
  }
  img.social {
    width: 24px;
    height: 24px;
  }
  ul.social {
    display: flex;
    padding-left: 0;
  }
  li.social {
    list-style: none;
    padding-left: 18px;
  }
  ul.info {
    padding-left: 0;
    display: inline-block;
    font-weight: normal;
  }
  li.info {
    list-style: none;
    padding-left: 0;
    padding-bottom: 18px;
  }
  li.info:nth-of-type(1) {
    font-weight: bold;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  footer {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 0;
    margin: auto;
  }
  .footer-spine {
    width: 800px;
    margin: auto;
  }
  .footer-wrap {
    width: 800px;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-div__body {
    padding: 12px;
    display: flex;
  }
  .footer-div__copy {
    padding: 0 40px 0 0;
    vertical-align: top;
  }
  span {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .filler {
    width: 200px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  img {
    border: 0;
  }
  img.logo {
    width: 120px;
    height: 20px;
  }
  img.social {
    width: 24px;
    height: 24px;
  }
  ul.social {
    display: flex;
    padding-left: 0;
  }
  li.social {
    list-style: none;
    padding-left: 18px;
  }
  ul.info {
    padding-left: 0;
    display: inline-block;
    font-weight: normal;
  }
  li.info {
    list-style: none;
    padding-left: 0;
    padding-bottom: 18px;
  }
  li.info:nth-of-type(1) {
    font-weight: bold;
  }
}
@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 0;
    margin: auto;
  }
  .footer-spine {
    width: 380px;
    margin: auto;
  }
  .footer-wrap {
    width: 380px;
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-div__body {
    padding: 12px;
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-div__copy {
    padding: 0 40px 0 0;
  }
  .footer-div__body:nth-of-type(1) {
    order: 1;
  }
  .footer-div__body:nth-of-type(3) {
    order: 2;
  }
  .footer-div__body:nth-of-type(2) {
    order: 3;
  }
  .footer-div__body:nth-of-type(4) {
    order: 4;
  }
  span {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .filler {
    width: 200px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  img {
    border: 0;
  }
  img.logo {
    width: 120px;
    height: 20px;
  }
  img.social {
    width: 32px;
    height: 32px;
  }
  ul.social {
    display: flex;
    padding-left: 0;
  }
  li.social {
    list-style: none;
    padding-right: 18px;
  }
  ul.info {
    padding-left: 0;
    display: inline-block;
    font-weight: normal;
  }
  li.info {
    list-style: none;
    padding-left: 0;
    padding-bottom: 18px;
  }
  li.info:nth-of-type(1) {
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-family: "AvenirBold";
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    font-family: "AvenirBold";
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  h3, h4 {
    font-family: "AvenirDemi";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 16px;
    line-height: 180%;
    font-weight: 400;
  }
  .font-footer {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
  .font-label {
    font-family: "AvenirBold";
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  h1 {
    font-family: "AvenirBold";
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    font-family: "AvenirBold";
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }
  h3 {
    font-family: "AvenirDemi";
    font-size: 24px;
    line-height: 180%;
    font-weight: 400;
    margin: 0;
  }
  h4 {
    font-family: "AvenirDemi";
    font-size: 18px;
    line-height: 180%;
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 18px;
    line-height: 180%;
    font-weight: 400;
  }
  .font-footer {
    font-size: 12px;
    line-height: 20px;
  }
  .font-label {
    font-family: "AvenirBold";
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
  .font-typer {
    font-family: "Another Typewriter";
    font-size: 12px;
    color: #323232;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-family: "AvenirBold";
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    font-family: "AvenirBold";
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
  }
  h3, h4 {
    font-family: "AvenirDemi";
    font-size: 14px;
    line-height: 180%;
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: 13px;
    line-height: 180%;
    font-weight: 400;
  }
  .font-footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  .font-label {
    font-family: "AvenirBold";
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
.div-buffer {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  clear: both;
}

.div-watermark {
  position: relative;
  right: 0;
  bottom: 0;
}/*# sourceMappingURL=global.css.map */