/* GLOBAL.SCSS */

// import files
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/layout" as *;
@use "./partials/header" as *;
@use "./partials/hero" as *;
@use "./partials/writeup" as *;
@use "./partials/gallery" as *;
@use "./partials/convo" as *;
@use "./partials/shows" as *;
@use "./partials/footer" as *;
@use "./partials/fonts" as *;


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'FontAvenir', Arial, Helvetica, sans-serif;
    font-size: 16px;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}


//binder
@include layout-desktop;
@include layout-tablet;
@include layout-mobile;


//header
@include header-desktop;
@include header-tablet;
@include header-mobile;



//hero
@include hero-desktop;
@include hero-tablet;
@include hero-mobile;



//writeup
@include writeup-desktop;
@include writeup-tablet;
@include writeup-mobile;



//gallery
@include gallery-desktop;
@include gallery-tablet;
@include gallery-mobile;



//convo
@include convo-desktop;
@include convo-tablet;
@include convo-mobile;



//shows
@include shows-desktop;
@include shows-tablet;
@include shows-mobile;



//footer
@include footer-desktop;
@include footer-tablet;
@include footer-mobile;



//fonts
@include fonts-desktop;
@include fonts-tablet;
@include fonts-mobile;



//etc
.div-buffer {
    width: 100%;
    height: 90px;
    background-color: $bgcolor01;   //aqua;
    clear: both;
}

.div-watermark {
    position: relative; 
    right: 0;
    bottom: 0;
}